body {
    background-color: rgba(114, 114, 226, 0.877);
}
h1, p {
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}
h1 {
    text-transform: uppercase; 
}
img {
    border: 5px solid white;
    width: 100%;
}

#nature {
    width: 50%;
    margin-left: 25%;
    margin-top: 3%;
}
.quote {
    font-style: italic;
}